<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>상품수정</title>
  <link rel="stylesheet" href="" th:href="@{/css/common.css}">
</head>
<body>
<div class="wrap">
  <h3>상품수정</h3>
  <div>
    <form action="" method="post" th:object="${updateForm}">
      <div>
        <label for="productId" >상품번호</label>
        <input type="text" name="productId" readonly th:field="*{productId}">
      </div>
      <div>
        <label for="pname">상품명</label>
        <input type="text" name="pname" th:field="*{pname}">
        <span class="field-error"></span>
        <span class="field-error" th:errors="*{pname}"></span>
      </div>
      <div>
        <label for="quantity">수량</label>
        <input type="text" name="quantity" th:field="*{quantity}">
        <span class="field-error"></span>
        <span class="field-error" th:errors="*{quantity}"></span>
      </div>
      <div>
        <label for="price">가격</label>
        <input type="text" name="price" th:field="*{price}">
        <span class="field-error"></span>
        <span class="field-error" th:errors="*{price}"></span>
      </div>
      <div>
        <button type="submit" id="btnSave" th:text="#{button.update}">저장</button>
        <button type="button" id="btnCancel" th:text="#{button.cancel}">취소</button>
        <button type="button" id="btnFindAll" th:text="#{button.list}">목록</button>
      </div>
    </form>
  </div>
</div>
<script>

  const $btnCancel = document.getElementById('btnCancel');
  const $btnFindAll = document.getElementById('btnFindAll');

  const btnCancel_h = e => history.back()
  const btnFindAll_h = e => location.href = '/products';

  $btnCancel.addEventListener('click',btnCancel_h,false);
  $btnFindAll.addEventListener('click',btnFindAll_h,false);


  const add_h = e => {
    e.preventDefault(); //기본 이벤트 막기
    const $field_errors = document.querySelectorAll('.field-error');

    const clear = () => Array.from($field_errors).forEach(ele=>ele.textContent='');

    //검증
    if(pname.value.trim().length == 0){
      const msg = '상품명을 입력하세요';
      pname.nextElementSibling.textContent = msg;
      pname.focus();
      return;
    }else {
      clear();
    }
    if(quantity.value.trim().length == 0){
      const msg = '수량을 입력하세요';
      quantity.nextElementSibling.textContent = msg;
      quantity.focus();
      return;
    }else{
      clear();
    }

    const regExp = /[0-9]/;
    if(!regExp.test(quantity.value.trim())){
      const msg = '숫자만 입력하세요';
      quantity.nextElementSibling.textContent = msg;
      quantity.focus();
      return;
    }else{
      clear();
    }

    if(price.value.trim().length == 0){
      const msg = '가격을 입력하세요';
      price.nextElementSibling.textContent = msg;
      price.focus();
      return;
    }else{
      clear();
    }

    if(!regExp.test(price.value.trim())){
      const msg = '숫자만 입력하세요';
      price.nextElementSibling.textContent = msg;
      price.focus();
      return;
    }else{
      clear();
    }

    //전송
    frm.submit();
  }
  btnSave.addEventListener('click',add_h,false);
</script>
</body>
</html>