<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>상품수정</title>
  <link rel="stylesheet" href="" th:href="@{/css/common.css}">
</head>
<body>
<div class="wrap">
  <h3>상품수정</h3>
  <div>
    <form id="frm" action="" method="post" th:object="${updateForm}" enctype="multipart/form-data">
      <div>
        <label for="productId" >상품번호</label>
        <input type="text" name="productId" readonly th:field="*{productId}">
      </div>
      <div>
        <label for="pname">상품명</label>
        <input type="text" name="pname" th:field="*{pname}">
        <span class="field-error"></span>
        <span class="field-error" th:errors="*{pname}"></span>
      </div>
      <div>
        <label for="quantity">수량</label>
        <input type="text" name="quantity" th:field="*{quantity}">
        <span class="field-error"></span>
        <span class="field-error" th:errors="*{quantity}"></span>
      </div>
      <div>
        <label for="price">가격</label>
        <input type="text" name="price" th:field="*{price}">
        <span class="field-error"></span>
        <span class="field-error" th:errors="*{price}"></span>
      </div>
      <div><label for="">일반첨부</label><input type="file" th:field="*{attachFile}"></div>
      <div><label for="">이미지첨부</label><input type="file" th:field="*{imageFiles}" multiple ></div>
      <div>
        <button type="submit" id="btnSave" th:text="#{button.update}">저장</button>
        <button type="button" id="btnCancel" th:text="#{button.cancel}">취소</button>
        <button type="button" id="btnFindAll" th:text="#{button.list}">목록</button>
      </div>
      <div id="attachFiles">
        <div><label>첨부</label></div>
        <div>
          <div>
            <a href="" th:href="@{|/attach/down/*{attachedFile.uploadfileId}|}" th:text="*{attachedFile.upload_filename}"></a>
            <a href="#" class="btn delBtn" th:data-fid="*{attachedFile.uploadfileId}">삭제</a>
          </div>
          <div th:each="file : *{imagedFiles}">
            <div th:unless="${#strings.contains(file.ftype,'image')}" >
              <a href="" th:href="@{|/attach/down/${file.uploadfileId}|}" th:text="${file.upload_filename}"></a>
              <a href="#" class="btn delBtn" th:data-fid="${file.uploadfileId}">삭제</a>
            </div>
            <div th:if="${#strings.contains(file.ftype,'image')}">
              <img th:src="@{|/attach/view/${file.uploadfileId}|}" th:width="50px" th:height="50px">
              <a href="#" class="btn delBtn" th:data-fid="${file.uploadfileId}">삭제</a>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<script type="module">
  import {ajax} from "/js/common.js";
  const $btnCancel = document.getElementById('btnCancel');
  const $btnFindAll = document.getElementById('btnFindAll');

  const btnCancel_h = e => history.back()
  const btnFindAll_h = e => location.href = '/products';

  $btnCancel.addEventListener('click',btnCancel_h,false);
  $btnFindAll.addEventListener('click',btnFindAll_h,false);


  const add_h = e => {
    e.preventDefault(); //기본 이벤트 막기
    const $field_errors = document.querySelectorAll('.field-error');

    const clear = () => Array.from($field_errors).forEach(ele=>ele.textContent='');

    //검증
    if(pname.value.trim().length == 0){
      const msg = '상품명을 입력하세요';
      pname.nextElementSibling.textContent = msg;
      pname.focus();
      return;
    }else {
      clear();
    }
    if(quantity.value.trim().length == 0){
      const msg = '수량을 입력하세요';
      quantity.nextElementSibling.textContent = msg;
      quantity.focus();
      return;
    }else{
      clear();
    }

    const regExp = /[0-9]/;
    if(!regExp.test(quantity.value.trim())){
      const msg = '숫자만 입력하세요';
      quantity.nextElementSibling.textContent = msg;
      quantity.focus();
      return;
    }else{
      clear();
    }

    if(price.value.trim().length == 0){
      const msg = '가격을 입력하세요';
      price.nextElementSibling.textContent = msg;
      price.focus();
      return;
    }else{
      clear();
    }

    if(!regExp.test(price.value.trim())){
      const msg = '숫자만 입력하세요';
      price.nextElementSibling.textContent = msg;
      price.focus();
      return;
    }else{
      clear();
    }

    //전송
    frm.submit();
  }
  btnSave.addEventListener('click',add_h,false);

  const attachFiles = (e,res) => {
    if(res.header.rtcd == '00'){
      e.target.closest('div').remove();
    }
  }
  const attachFiles_h = e => {
    if(e.target.classList.contains('delBtn')){
      if(!confirm('삭제하시겠습니까')) return;

      const url = `/attach/${e.target.dataset.fid}`;
      ajax.delete(url)
        .then(res=>res.json())
        .then(res=>attachFiles(e,res))
        .catch(console.log);
    }
  }
  document.getElementById('attachFiles').addEventListener('click',attachFiles_h,false);

</script>
</body>
</html>